.App {
  text-align: center;
}

.Nav-bar {
  height: 100px;
  background: linear-gradient(
    to right,
    rgb(201, 163, 227) 0%,
    rgb(46, 3, 92) 100%
    
  );
  margin-top: 0px;
}

.Logo{
  margin: auto;
}
